<div class="section">
  <div class="number">
    1.<img src="images/grayarrow.gif" class="arrow">
  </div>
  <div class="article">
    <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a> <span class="website">(firebase.com)</span>
  </div>
  <div class="details">
    63 points by lyime 56 minutes ago | 17 comments
  </div>
</div>
