<div>
  <ul>
    <form action="/submit" method="post">
      <li>Author: <input type="text" name="author" size="50"></li>
      <li>Title: <input type="text" name="title" size="50"></li>
      <li>URL: <input type="text" name="url" size="50"></li>
      <li>Description: <textarea name="desc" rows="10" cols="70"></textarea></li>
      <li><input type="submit"></li>
    </form>
  </ul>
</div>
