<div class="submit">
  <ul>
    <form action="/submit" method="post">
      <li><div class="spacer">Author: </div><input type="text" name="author" value="<%= @author %>" size="50"></li>
      <li><div class="spacer">Title: </div><input type="text" name="title" value="<%= @title %>" size="50"></li>
      <li><div class="spacer">URL: </div><input type="text" name="url" value="<%= @url %>" size="50"></li>
      <li><div class="spacer">Description: </div><textarea name="desc" rows="10" cols="60"><%= @desc %></textarea></li>
      <li><div class="spacer"><input type="submit"></div></li>
    </form>
  </ul>
</div>
